.section {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-top: 1.25rem; /* mt-5 */
  font-size: 3rem; /* text-5xl */
  font-weight: 800; /* font-extrabold */
  line-height: 1.15; /* leading-[1.15] */
  color: black;
}

.heading-media {
  flex-direction: row;
  text-align: left;
}

.gradient-text {
  background: linear-gradient(to right, rgb(255, 98, 0), rgb(0, 30, 255));
  color: rgba(255, 255, 255, 0.937);
  padding: 5px;
  text-align: center;
  display: block;
}

.gradient-text-media {
  display: inline;
}

.description {
  margin-top: 1.25rem; /* mt-5 */
  font-size: 1.4rem; /* text-lg */
  color: #939393; /* text-gray-600 */
  max-width: 36rem; /* max-w-2xl */
  text-align: center;
  padding-bottom: 4rem;
}
/* .nav-image {
  width: 5rem;
} */
@media screen and (max-width: 600px) {
  .section {
    width: 100vw;
    box-sizing: border-box; /* This ensures padding/border are included in width */
    margin: 0;
    padding: 0;
  }
}
